VITE_FIREBASE_API_KEY="nfdnfnn"
VITE_FIREBASE_AUTH_DOMAIN="bhakti-kndkjngkd-clinic.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="bhakti-nkjnkngclinic"
VITE_FIREBASE_STORAGE_BUCKET="bhakti-njkngkjdfn firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="784859349594"
VITE_FIREBASE_APP_ID="1:8594965986:web:jnsknkdjnjkfngkfnd"
VITE_RAZORPAY_KEY_ID="rzp_test_xxxxxxxxxxxx"